
version: '3.9'

services:
  node-app:
    image: node:24
    container_name: node24-app
    working_dir: /usr/src/app
    volumes:
           - .:/usr/src/app
    ports:
      - "3000:3000"
    command: bash -c "npm install && npm start"
    restart: always